.weixin-tip {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    filter: alpha(opacity=80);
    opacity: 0.8;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.weixin-tip p {
    text-align: center;
    margin-top: 10%;
    padding: 0 5%;
}

.weixin-tip p img {
    max-width: 100%;
    height: auto;
}