<div class="con">
    <div class="banner">
        <div class="phone">
            <img class="phone-frame ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1s" swiper-animate-delay="0s" src="/assets/img/phone.png">
        </div>
        <img class="icons ani" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="1.3s" src="/assets/img/page_icon_04.png">
        <div class="list">
            <img class="item ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1.5s" src="/assets/img/page03_item_01.jpg">
            <img class="item ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1.5s" src="/assets/img/page03_item_02.jpg">
            <img class="item ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1.5s" src="/assets/img/page03_item_03.jpg">
        </div>
    </div>
    <div class="describe">
        <h3 class="ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">{{title}}</h3>
        <p class="ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="1s" swiper-animate-delay="1.5s" *ngFor="let describe of describes">{{describe}}</p>
    </div>
</div>