<div class="con">
    <div class="banner">
        <div class="phone">
            <img class="phone-frame ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1s" swiper-animate-delay="0s" src="/m/geju/assets/img/phone.png">
        </div>
        <img class="icons ani" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="1.3s" src="/m/geju/assets/img/page_icon_06.png">
        <div class="list">
            <img class="item ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1.5s" src="/m/geju/assets/img/page06_item_01.png">
            <img class="item ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1.5s" src="/m/geju/assets/img/page06_item_02.png">
            <img class="item ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1.5s" src="/m/geju/assets/img/page06_item_03.png">
        </div>
    </div>
    <div class="describe">
        <h3 class="ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">{{title}}</h3>
        <p class="ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="1s" swiper-animate-delay="1.5s" *ngFor="let describe of describes">{{describe}}</p>
    </div>
</div>