.con {
    width: 100%;
    height: 100%;
    background: url("/m/geju/assets/img/page_bg_01.jpg") no-repeat center/cover;
}

.banner {
    position: relative;
    text-align: center;
    padding-top: .4rem;
    padding-bottom: .62rem;
}

.phone {
    position: relative;
    left: 50%;
    width: 3.34rem;
    margin-left: -1.67rem;
}

.phone-frame {
    width: 100%;
    height: auto;
}

.phone-cover {
    position: absolute;
    top: .86rem;
    left: .22rem;
    width: 2.91rem;
    height: auto;
}

.icons {
    position: absolute;
    top: 1.26rem;
    left: .56rem;
    width: 5.92rem;
    height: auto;
}

.item {
    position: absolute;
    height: auto;
}

.item:nth-child(1) {
    top: 4.05rem;
    left: .9rem;
    width: 2.7rem;
    z-index:2
}

.item:nth-child(2) {
    top: 2.2rem;
    right: 1.4rem;
    width: 2.93rem;
}

.item:nth-child(3) {
    top: 4.3rem;
    right: .65rem;
    width: 3.62rem;
}

.describe {
    color: white;
    text-align: center;
    margin-bottom: .4rem;
}

.describe > h3 {
    font-size: .46rem;
    line-height: 1em;
    margin-bottom: .3rem;
}

.describe > p {
    font-size: .28rem;
    font-weight: lighter;
    line-height: .62rem;
}