.con {
    text-align: center;
}

.dl-btn {
    display: block;
    margin: 0 auto;
    width: 2.4rem;
    line-height: .56rem;
    border: 2px solid white;
    background: transparent;
    border-radius: .35rem;
    font-size: .3rem;
    color: white;
    text-decoration: none;
}