<div class="con">
    <div class="banner">
        <div class="phone">
            <img class="phone-frame ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1s" swiper-animate-delay="0s" src="/m/geju/assets/img/phone.png">
            <img class="phone-cover ani" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="1s" src="/m/geju/assets/img/page_cover_05.jpg">
        </div>
        <img class="icons ani" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="1.3s" src="/m/geju/assets/img/page_icon_05.png">
    </div>
    <div class="describe">
        <h3 class="ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">{{title}}</h3>
        <p class="ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="1s" swiper-animate-delay="1.5s" *ngFor="let describe of describes">{{describe}}</p>
    </div>
</div>